<footer class="footer">
  <div class="container">
    <div class="footer-contacts">
      <div class="footer-contacts__text">
        <span class="footer-contacts__title">
          По любым вопросам обращайтесь:
        </span>
        <p class="footer-contacts__descr">
          Бухгалтерия и вопросы оплаты: <a href="mailto:support@ontico.ru">support@ontico.ru</a>, <a href="tel:+74956460768">+7(495) 646-07-68</a>, <a href="https://t.me/ontico_support">@ontico_support</a>
        </p>
        <p class="footer-contacts__descr">
          <span class="inline footer-contacts__title">
            Программный комитет:
          </span>
         <a href="mailto:speakers@ontico.ru">speakers@ontico.ru</a>
        </p>
        <p class="footer-contacts__descr">
          <span class="footer-contacts__title">
            Организационный комитет:
          </span>
          <a href="mailto:organization@ontico.ru">organization@ontico.ru</a>
        </p>
        <address class="footer-contacts__address">125040, Москва, Нижняя ул., д. 14, стр. 7, подъезд 1, оф. 16</address>
        <p class="footer-contacts__descr">
          ООО «Конференции Олега Бунина»
        </p>
      </div>
    </div>

  </div>
  <nav class="footer-nav" >
    <h2 class="footer-nav__title">2022 год:</h2>
    <ul class="list-reset footer-nav__list">
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">январь</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">февраль</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">март</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">апрель</a></li>
      <li class="footer-nav__item footer-nav__item--active"><a href="#" class="footer-nav__link">май</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">июнь</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">июль</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">август</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">сентябрь</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">октябрь</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">ноябрь</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">декабрь</a></li>
    </ul>
  </nav>
</footer>
